.photheme-mobile-contact-bar{
    display:none 
    }
    .photheme-pc-contact-bar{
    left: 30px;
    bottom: 30px;
    position: fixed;
    z-index: 998;
    margin-bottom:0
    }
    .photheme-pc-contact-bar li{
    width: 44px;
    height: 46px;
    overflow: hidden;
     margin-bottom: 0;
    list-style: none;
    }
    .photheme-pc-contact-bar li.facebook{
    margin-bottom: 8px;
    background: url('../img/fb.png');
    background-repeat: no-repeat;
    }
    .photheme-pc-contact-bar li.zalo{
        margin-bottom: 8px;
        background: url('../img/zl.png'); 
        background-repeat: no-repeat;
    }
    .photheme-pc-contact-bar li.hotline {
       
        background: url('../img/p2.gif');
        background-repeat: no-repeat;
        background-size: 44px;
    }
    .photheme-pc-contact-bar li a{
    display: block;
    width: 44px;
    height: 44px;
    }
     
    @media only screen and (max-width: 499px) {
    .photheme-pc-contact-bar{
    display:none
    }
    .photheme-mobile-contact-bar{
    left: 10px;
    bottom: 10px;
    position: fixed;
    z-index: 998;
    margin-bottom:0;
    display:block !Important
    }
    .photheme-mobile-contact-bar li{
    display:inline-block;
    float:left;
    margin-right:7px;
    list-style:none
    }
    .photheme-mobile-contact-bar li.facebook{
    margin-bottom: 8px;
    background: url('../img/fb.png');
    background-repeat: no-repeat;
    }
    .photheme-mobile-contact-bar li.zalo{
        background: url('../img/zl.png'); 
        background-repeat: no-repeat;
    }
    .photheme-mobile-contact-bar li a{
        display: block;
        width: 44px;
        height: 44px;}
    .photheme-mobile-contact-bar li.hotline {
        background: url('../img/p2.gif');
        background-repeat: no-repeat;
        background-size: 44px;
    }
    }
     